
.row.no-gutters
  .col-lg-2.col-md-12.sidebar.justify-content-center.px-3.border_right.padding_top
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  .col-lg-8.col-md-12.search_box
    .kensaku
      %p.margin ユーザー検索

      = search_form_for @search, id: "user_search_form", url: users_path do |f|
        .kensaku_form_group.card
          .search_form_group
            .kensaku_form.margin_bottom_14
              = f.label :nickname_start, 'ニックネーム: '
              = f.search_field :nickname_start
            .kensaku_body.margin_bottom_14
              = f.label :user_body_height_gteq do
                身長:
              = f.search_field :user_body_height_gteq, class: 'input_box'
              = f.label :user_body_height_lteq, class: '' do
                〜
              = f.search_field :user_body_height_lteq, class: 'input_box'
            .kensaku_body.margin_bottom_14
              = f.label :user_body_weight_gteq do
                体重:
              = f.search_field :user_body_weight_gteq, class: 'input_box'
              = f.label :user_body_weight_lteq do
                〜
              = f.search_field :user_body_weight_lteq, class: 'input_box'
            .kensaku_experience.margin_bottom_14
              = f.label :user_body_experience_lteq do
                トレーニング歴:
              = f.search_field :user_body_experience_lteq, class: 'input_box'
              = f.label :user_body_experience_gteq do
                年目 〜
              = f.search_field :user_body_experience_gteq, class: 'input_box'
              .inline-block 年目
            = button_tag type: 'submit' , class: 'margin_auto mb-3' do
              %i.fas.fa-sm.fa-search.cursor_pointer.d-inline-flex.btn.btn-primary
    %hr

    #search_result
      = render partial: "shared/search_result"

  .col-lg-2.d-none.d-lg-block.d-none.d-lg-block.sidebar.border_left
