.row.no-gutters
  .col-2.sidebar-my-0.ml-0.justify-content-center
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  .col-7.uniti
    .kensaku
      %p.margin ユーザーを検索
      %hr
      = search_form_for @search, id: "user_search_form", url: users_path do |f|
        .kensaku_form_group
          .kensaku_form
            = f.label :nickname_start, 'ニックネーム: '
            = f.search_field :nickname_start
          .kensaku_height
            = f.label :user_body_height_gteq do
              身長:
            = f.search_field :user_body_height_gteq, class: 'huga'
            = f.label :user_body_height_lteq do
              〜
            = f.search_field :user_body_height_lteq, class: 'huga'
          .kensaku_weight
            = f.label :user_body_weight_gteq do
              体重:
            = f.search_field :user_body_weight_gteq, class: 'huga'
            = f.label :user_body_weight_lteq do
              〜
            = f.search_field :user_body_weight_lteq, class: 'huga'
          .kensaku_experience
            = f.label :user_body_experience_lteq do
              トレーニング歴:
            = f.search_field :user_body_experience_lteq, class: 'huga'
            = f.label :user_body_experience_gteq do
              年目 〜
            = f.search_field :user_body_experience_gteq, class: 'huga'
            .inline-block 年目
        = f.submit class: 'btn btn-primary search_btn' do
          検索
      %hr

    #seaech_result
      = render partial: "shared/search_result"

  .col-3.sidebar
