= render partial: "shared/user_body_edit"

.row
  .col-2.my-0.ml-3.justify-content-center.w-15
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  .col-7.uniti
    .kensaku
      %p.margin ユーザー検索
      %hr
      = search_form_for @search do |f|
        .kensaku_form_group
          .kensaku_form
            = f.label :nickname_cont, 'ニックネーム: '
            = f.search_field :nickname_cont
          .kensaku_height
            = f.label :user_body_height_gteq do
              身長:
            = f.search_field :user_body_height_gteq, class: 'huga'
            = f.label :user_body_height_lteq do
              〜
            = f.search_field :user_body_height_lteq, class: 'huga'
          .kensaku_weight
            = f.label :user_body_height_gteq do
              体重:
            = f.search_field :user_body_weight_gteq, class: 'huga'
            = f.label :user_body_height_lteq do
              〜
            = f.search_field :user_body_weight_lteq, class: 'huga'
        = f.submit class: 'btn btn-primary' do
          検索
      %hr

      - @people.each do |people|
        .user_profile
          .user_image1
            = image_tag "#{people.user_body.avatar.url}"
          .user_name1
            .namae1 #{people.nickname}
            .shousai #{people.user_body.height}cm/#{people.user_body.weight}kg
        %hr


      -# .user_profile2
      -#   .user_image2
      -#     %p 写真
      -#   .user_name2
      -#     %p.namae2 真本 周平之助
      -# .user_profile3
      -#   .user_image3
      -#     %p 写真
      -#   .user_name3
      -#     %p.namae3 真本 周平之助
      -# .user_profile4
      -#   .user_image4
      -#     %p 写真
      -#   .user_name4
      -#     %p.namae4 真本 周平之助
      -# .user_profile5
      -#   .user_image5
      -#     %p 写真
      -#   .user_name5
      -#     %p.namae5 真本 周平之助
  .col-3
