= render partial: "shared/user_body_edit"

-# 本文
.row
  .col-2.my-0.ml-2.justify-content-center.w-15
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }


  .col-7.my-5.justify-content-center
    = month_calendar(attribute: :date, events: @training_records) do |date, training_records|
      .calendar-btn{id: "#{date}"}
        = date.day
        %div{id: "records_#{date}"}
          = render partial: "shared/day_records_on_calendar", locals: { training_records: training_records}


  .col-3.my-5.justify-content-center.w-22
    = form_with model: @training_record, method: :post, url: user_training_records_path(current_user.id), id: 'new_training_record', class: 'new_training_record' do |f|
      = f.date_field :date, value: Date.today, readonly: true, class: 'form-control-sm text-center my-4 mx-2'
      #training_records.mx-2
        %h6 実施したメニュー
        %ul#day_records.list-unstyled.ml-2
          = render partial: "shared/training_records", collection: @day_records, as: "day_record"

      .form_group.m-1.mt-3
        = f.label :part, '部位'
        = f.select :part, [['胸'],['肩'],['腕'],['背中'],['脚'],['有酸素']], {prompt: '--'}, {class: 'form-control-sm ml-3'}
      .form_group.m-1
        = f.label :exercise, '種目'
        = f.text_field :exercise, class: 'form-control'
        #exercise_search_result
      = f.fields_for :menus do |menus|
        #set-form
          -# .d-flex.flex-wrap.mt-3.align-items-center
          -#   %span.mx-2 継続時間
          -#   = menus.number_field :time, class: 'form-control w-50'
          -#   %span.mx-2 分
          -# .d-flex.flex-wrap.mt-3
          -#   .w-25.text-center
          -#     = menus.label :weight, '重量'
          -#     = menus.number_field :weight, class: 'form-control', step: 0.5
          -#   .d-flex.w-25.align-items-end
          -#     %span.ml-2.mb-2 kg ✖️
          -#   .w-25.text-center
          -#     = menus.label :rep, '回数'
          -#     = menus.number_field :rep, class: 'form-control'
          -#   .d-flex.w-25.align-items-end
          -#     %span.ml-2.mb-2 rep
          -# = f.fields_for :menus do |menus|
          -#   .d-flex.flex-wrap.mt-2
          -#     .form_group.w-25.text-center
          -#       = menus.number_field :weight, class: 'form-control', step: 0.5
          -#     .d-flex.w-25.align-items-end
          -#       %span.ml-2.mb-2 kg ✖️
          -#     .form_group.w-25.text-center
          -#       = menus.number_field :rep, class: 'form-control'
          -#     .d-flex.w-25.align-items-end
          -#       %span.ml-2.mb-2 rep
      -# .my-3
      -#   #add-set.btn.btn-outline-primary.btn-sm
      -#     セット追加
      .action.my-4.mx-2.text-center
        = f.submit '登録する', class: 'btn btn-primary'
