-# body編集のモーダル
.body_modal
  .body_modal__inner
    - if @userbody.nil?
      .body_modal__inner__body.card
        = form_with model: @userbody, method: :post, url: user_user_bodies_path(current_user.id), id: 'new_userbody', class: 'new_userbody', local: true do |f|
          .form_group.m-4
            = f.label :birth_year, '誕生年'
            = f.number_field :birth_year, class: 'form-control'
          .form_group.m-4
            = f.label :gender, '性別'
            = f.select :gender, [['男'],['女']], prompt: '--', class: 'form-control'
          .form_group.m-4
            = f.label :height, '身長'
            = f.number_field :height, class: 'form-control'
          .form_group.m-4
            = f.label :weight, '体重'
            = f.number_field :weight, class: 'form-control'
          .action.m-5.justify-content-center
            = f.submit '登録する', class: 'btn btn-primary'
            .btn.btn-primary.close_button
              閉じる
    - else
      .body_modal__inner__body.card
        = form_with model: @userbody, method: :patch, url: user_user_body_path(current_user.id), id: 'new_userbody', class: 'new_userbody', local: true do |f|
          .form_group.m-4
            = f.label :birth_year, '誕生年'
            = f.number_field :birth_year, class: 'form-control'
          .form_group.m-4
            = f.label :gender, '性別'
            = f.select :gender, [['男'],['女']], prompt: '--', class: 'form-control'
          .form_group.m-4
            = f.label :height, '身長'
            = f.number_field :height, class: 'form-control'
          .form_group.m-4
            = f.label :weight, '体重'
            = f.number_field :weight, class: 'form-control'
          .action.m-5.justify-content-center
            = f.submit '編集する', class: 'btn btn-primary'
            .btn.btn-primary.close_button
              閉じる

    .body_modal__inner__submit_button


.overlay
-# 本文
.row
  .col-2.my-5.justify-content-center
    .avatar
      = image_tag('avatar_default.png')
    .nickname
      %p
        = @user.nickname
    .body.justify-content-center
      .height
        %p
          = "#{@userbody&.height} cm"
      .weight
        %p
          = "#{@userbody&.weight} kg"
    .mt-4
      %h6 BMI
      %p
        = (@userbody.weight.to_f / (@userbody.height.to_f / 100) ** 2).round(1)
    .mt-4
      %h6 適正体重
      %p
        = "#{((@userbody.height.to_f / 100)**2 * 22).round(1)} kg"
    .mt-4
      %h6 基礎代謝
      %p
        = "#{(66.47 + (13.75 * @userbody.weight.to_f) + (5 * @userbody.height.to_f) - (6.78*(2019 - @userbody.birth_year))).round(0)} kcal"
    .btn.btn-primary.my-4#edit_body
      %p 編集する

  .col-7.my-5.justify-content-center
    = month_calendar(attribute: :date, events: @training_records) do |date, training_records|
      = date.day

      - training_records.each do |training_record|
        .exercise
          = training_record.part

  .col-2.my-5.card.justify-content-center
    = form_with model: @training_record, method: :post, url: new_user_training_record_path(current_user.id), id: 'new_training_record', class: 'new_training_record', local: true do |f|
      .form_group.m-4
        = f.label :part, '部位'
        = f.select :part, [['胸'],['肩'],['腕'],['背中'],['脚'],['有酸素']], prompt: '--', class: 'form-control'
      .form_group.m-4
        = f.label :exercise, '種目'
        = f.text_field :exercise, class: 'form-control'
      - 
      .form_group.m-4
        = f.label :weight, '重量'
        = f.number_field :weight, class: 'form-control'
      .form_group.m-4
        = f.label :weight, '回数'
        = f.number_field :weight, class: 'form-control'
      .action.m-5.justify-content-center
        = f.submit '登録する', class: 'btn btn-primary'
