-# body編集のモーダル
.body_modal
  .body_modal__inner
    - if @userbody.nil?
      .body_modal__inner__body.card
        = form_with model: @userbody, method: :post, url: user_user_bodies_path(current_user.id), id: 'new_userbody', class: 'new_userbody', local: true do |f|
          .form_group.m-4
            = f.label :birth_year, '誕生年'
            = f.number_field :birth_year, class: 'form-control'
          .form_group.m-4
            = f.label :gender, '性別'
            = f.select :gender, [['男'],['女']], prompt: '--', class: 'form-control'
          .form_group.m-4
            = f.label :height, '身長'
            = f.number_field :height, step: '0.1', class: 'form-control'
          .form_group.m-4
            = f.label :weight, '体重'
            = f.number_field :weight, class: 'form-control'
          .action.m-5.justify-content-center
            = f.submit '登録する', class: 'btn btn-primary'
            .btn.btn-primary.close_button
              閉じる
    - else
      .body_modal__inner__body.card
        = form_with model: @userbody, method: :patch, url: user_user_body_path(current_user.id), id: 'new_userbody', class: 'new_userbody', local: true do |f|
          .form_group.m-4
            = f.label :birth_year, '誕生年'
            = f.number_field :birth_year, class: 'form-control'
          .form_group.m-4
            = f.label :gender, '性別'
            = f.select :gender, [['男'],['女']], prompt: '--', class: 'form-control'
          .form_group.m-4
            = f.label :height, '身長'
            = f.number_field :height, step: '0.1', class: 'form-control'
          .form_group.m-4
            = f.label :weight, '体重'
            = f.number_field :weight, class: 'form-control'
          .action.m-5.justify-content-center
            = f.submit '編集する', class: 'btn btn-primary'
            .btn.btn-primary.close_button
              閉じる

    .body_modal__inner__submit_button


.overlay
-# 本文
.row
  .col-2.card.my-5.ml-5.justify-content-center.w-13
    .avatar.mt-3
      = image_tag('avatar_default.png')
    .nickname
      %p
        = @user.nickname
    .body.justify-content-center
      .height
        - unless @userbody.nil?
          %p
            = "#{@userbody&.height} cm"
        - else
          %p
            = "--cm"
      .weight.ml-2
        - unless @userbody.nil?
          %p
            = "#{@userbody&.weight} kg"
        - else
          %p
            = "--kg"
      .mt-4
        %h5 BMI
        - unless @userbody.nil?
          %p
            = (@userbody.weight.to_f / (@userbody.height.to_f / 100) ** 2).round(1)
        - else
          %p
            = "--"
      .mt-4
        %h5 適正体重
        - unless @userbody.nil?
          %p
            = "#{((@userbody.height.to_f / 100)**2 * 22).round(1)} kg"
        - else
          %p
            = "-- kg"
      .mt-4
        %h5 基礎代謝
        - unless @userbody.nil?
          %p
            = "#{(66.47 + (13.75 * @userbody.weight.to_f) + (5 * @userbody.height.to_f) - (6.78*(2019 - @userbody.birth_year))).round(0)} kcal"
        - else
          %p
            = '--kcal'
      .btn.btn-primary.my-4#edit_body
        %p 編集する

  .col-7.my-5.justify-content-center
    = month_calendar(attribute: :date, events: @training_records) do |date, training_records|
      = date.day

      - training_records.each do |training_record|
        -# .exercise
        = training_record.part

  .col-3.my-5.card.justify-content-center.w-22
    = form_with model: @training_record, method: :post, url: user_training_records_path(current_user.id), id: 'new_training_record', class: 'new_training_record', local: true do |f|
      = f.date_field :date, value: '2019-06-05', readonly: true, class: 'form-control text-center'

      .form_group.m-1.mt-3
        = f.label :part, '部位'
        = f.select :part, [['胸'],['肩'],['腕'],['背中'],['脚'],['有酸素']], {prompt: '--'}, {class: 'form-control-sm ml-3'}
      .form_group.m-1
        = f.label :exercise, '種目'
        = f.text_field :exercise, class: 'form-control'
      = f.fields_for :menus do |menus|
        .d-flex.flex-wrap.mt-3
          .form_group.w-25.text-center
            = menus.label :weight, '重量'
            = menus.number_field :weight, class: 'form-control', step: 0.5
          .d-flex.w-25.align-items-end
            %span.ml-2.mb-2 kg ✖️
          .form_group.w-25.text-center
            = menus.label :rep, '回数'
            = menus.number_field :rep, class: 'form-control'
          .d-flex.w-25.align-items-end
            %span.ml-2.mb-2 rep
        .add-btn.m-4
          ＋追加する（仮）
      .action.m-2.text-center
        = f.submit '登録する', class: 'btn btn-primary'
