- unless @people.nil?
  - @people.each do |people|
    - unless [people.user_body.height,people.user_body.weight,people.user_body.experience].include?(nil)
      = link_to user_path(people.id) do
        .user_searched.padding_left_70
          .avatar_searched
            = image_tag "#{people.user_body.avatar.url}"
          .user_detail_searched
            .name #{people.nickname}
            .body #{people.user_body.height}cm/#{people.user_body.weight}kg
            .experience= "#{((Date.today.year - people.user_body.experience.year)*12 + Date.today.month - people.user_body.experience.month) / 12 + 1} 年目"
        %hr
= link_to_next_page @people, 'さらに表示', remote: true, class: 'btn btn-primary mb-3 block fontsize_12', id: 'search_next'
