%li.list-unstyled
  %span.remove_hidden_class ➕
  %span.add_hidden_class.hidden ➖
  = day_record.part
  = day_record.exercise
  - if @user.id == current_user.id
    %span.ml-2.record_delete_btn{value: "#{day_record.id}"} ❌
  %ul.hidden
    - day_record.menus.each do |menu|
      - if day_record.part == '有酸素'
        %li.menu-list
          = menu.time
          分
      - else 
        %li.menu-list
          = menu.weight
          kg ×
          = menu.rep
          rep