.card
  = form_with model: @userbody, method: :patch, url: user_user_body_path(current_user.id,@userbody.id), id: 'new_userbody', class: 'new_userbody', local: true do |f|
    .form_group.m-4.edit_avatar
      = f.label :avatar, class: 'avatar cursor_pointer mt-2'  do
        = image_tag "#{@userbody.avatar}", id: "avatar_image"
        = f.file_field :avatar, style: 'display :none;', class: 'form-control avatar_image_edit'
      %p.mt-2
        = @user.nickname
    .form_group.m-4
      = f.label :birth_year, '誕生年'
      = f.number_field :birth_year, in: 1900...2019, class: 'form-control birth_year_number'
      %p.edit_body_fail.birth_year_fail.hide  1900以上2019以下で入力してください
    .form_group.m-4
      = f.label :gender, '性別'
      = f.select :gender, [['男'],['女']], prompt: '--', class: 'form-control'
    .form_group.m-4
      = f.label :height, '身長'
      = f.number_field :height, step: '0.1', in: 100...300, class: 'form-control height_number'
      %p.edit_body_fail.height_fail.hide  100以上300以下で入力してください
    .form_group.m-4
      = f.label :weight, '体重'
      = f.number_field :weight, step: '0.1', in: 20...350, class: 'form-control weight_number'
      %p.edit_body_fail.weight_fail.hide 20以上350以下で入力してください
    .form_group.m-4
      = f.label :experience, '筋トレ開始日'
      <br>
      = f.date_select :experience, discard_day: true, class: 'form-control'
    .action.m-5.row.justify-content-around
      = button_tag type: 'submit' , class: '' do
        %i.fas.fa-3x.fa-check-circle.cursor_pointer.d-inline-flex

      %i.fas.fa-3x.fa-times-circle.close_button.cursor_pointer.d-inline-flex{value: '#edit_body'}
