- @images.each do |image|
  .mx-3
    .head_box
      .photo_date
        = image.created_at.strftime("%Y/%m/%d")
      .comment
        = image.comment
      - if current_user.id == @user.id
        .edit-btn.ml-3
          %i.fas.fa-pencil-alt.p-1.show_modal.edit-comment{value: '#html_to_modal_box', id: "#{image.id}"}
        .ml-auto.mb-2
          %i.fas.fa-times-circle.fa-3x.cursor_pointer.show_modal.delete-btn{value:'#delete_image', id: "#{image.id}"}
    - image.user_image.each do |ele|
      = image_tag "#{ele}", class: 'photo-box'
  %hr
= link_to_next_page @images, 'さらに表示', remote: true, id: 'images_next', class: 'btn btn-primary mb-3 block font-size-12'