-# 記事一覧ページ
.container-fuild.art
  .title-head.text-center.my-6.fontsize_20
    
    %p.mt-4 コラム一覧
    %hr
    .article
      .article_picture1
        = image_tag asset_path("chest_training_2")
      .article1
        .article1_date.fontsize_15.text_align_left
          %p 2019/06/12
        .article1_headline.justify-content-center.fontsize_13.text_align_left
          %p 綺麗な大胸筋を手に入れろ！この夏あなたに送りたい胸トレ10選（後編）
          %hr
        .article1_text.justify-content-center.fontsize_13.text_align_left
          %p 男らしい大胸筋を手に入れたい！！けれどもどんなトレーニングをすればいいのかわからない。。。みなさんこんな経験あるのではないでしょうか？今日は厳選胸トレ後半戦です！
    
    
    .article
      .article_picture1
        = image_tag asset_path("chest_training_1")
      .article1
        .article1_date.fontsize_15.text_align_left
          %p 2019/06/05
        .article1_headline.justify-content-center.fontsize_13.text_align_left
          %p 綺麗な大胸筋を手に入れろ！この夏あなたに送りたい胸トレ10選（前編）
          %hr
        .article1_text.justify-content-center.fontsize_13.text_align_left
          %p 男らしい大胸筋を手に入れたい！！けれどもどんなトレーニングをすればいいのかわからない。。。みなさんこんな経験あるのではないでしょうか？今日はそんなあなたにとっておきの胸トレ10種目をご紹介します。
    
    .article
      .article_picture1
        = image_tag asset_path("breath_in_training")
      .article1
        .article1_date.fontsize_15.text_align_left
          %p 2019/05/29
        .article1_headline.justify-content-center.fontsize_13.text_align_left
          %p 筋トレ中って呼吸を止めちゃいけないってホント？！
          %hr
        .article1_text.justify-content-center.fontsize_13.text_align_left
          %p こんにちは。皆さんは筋トレ中にトレーナーから「呼吸を止めずに！」と言われたことはありませんか？私も100kgのバーベルを持ち上げる時「んっ！」と思わず息こらえしてしまいます。この息こらえ、本当にしない方がいいのでしょうか？今日はその真相に迫りましょう。
        
  = link_to a_column_toppages_path do
    .article 
      .article_picture1
        = image_tag asset_path("heatstroke")
      .article1
        .article1_date.fontsize_15.text_align_left
          %p 2019/05/22
        .article1_headline.justify-content-center.fontsize_13.text_align_left
          %p これって熱中症・・・？？　絶対に身につけておきたい熱中症の基礎知識
          %hr
        .article1_text.justify-content-center.fontsize_13.text_align_left
          %p こんにちは。梅雨があけて夏真っ盛りになると水着を着たり薄着になったりと体のラインをさらす機会も増えてきますね！トレーニングに身が入る季節だからこそ気を付けたいのが熱中症です。自分には関係ないと思っていても、誰にでも起こる可能性があり、時に命を落とす怖い病気です。

        
    