= render partial: "shared/user_body_edit"

-# 本文
.row
  .col-2.sidebar.my-0.ml-0.justify-content-center
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  -# ここから自由に描いてください
  .col-9
    .com Photo
    %hr
    - if @user.id == current_user.id
      = form_with model: @image, url: user_image_path(current_user.id,@image), method: :put, id: 'image-create' do |image|
        .form-group.image-form
          .image-box
            %ul#image-list
              - @image.user_image.each_with_index do |user_image,index|
                %li
                  %figure.image-preview
                    = image_tag "#{user_image}", class: "image-preview"
                  .preview-btn
                    .edit-preview-delete.btn.btn-outline-danger.btn-sm.px-4{ value: "#{index}"}
                      削除
              = image.label :user_image, id: 'image-list-before' do
                = image.file_field :user_image, multiple: true, style: 'display: none;'
                #image-drop-box
                  %pre
                    ドラッグ & ドロップ
                    またはクリックしてアップロード
            
          = image.text_area :comment, rows: 5, class: 'form_control w-100'
          = image.submit '自慢の筋肉画像を投稿する', class: 'btn btn-primary w-100', id: 'image-edit'
      %hr

  .col-2
