-# 本文
.row.no-gutters
  .col-2.sidebar.my-0.ml-0.justify-content-center
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  -# ここから自由に描いてください
  .col-9
    .com Photo
    %hr
    - if @user.id == current_user.id
      = form_with model: @image, url: user_images_path(current_user.id,@image), method: :post, id: 'image-create' do |image|
        .form-group.image-form
          .image-box
            %ul#image-list
              = image.label :user_image, id: 'image-list-before' do
                = image.file_field :user_image, multiple: true, style: 'display: none;'
                #image-drop-box
                  %pre
                    ドラッグ & ドロップ
                    またはクリックしてアップロード

          = image.text_area :comment, rows: 5, class: 'form_control w-100'
          = image.submit '自慢の筋肉画像を投稿する', class: 'btn btn-primary w-100', id: 'image-submit'
      %hr
    #user_images_box
      = render partial: "shared/user_images"
  .col-2
