-# 本文
.row.no-gutters
  .col-lg-2.co-md-12.sidebar.justify-content-center.px-3.border_right.padding_top
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  .col-lg-9.col-md-12.padding_bothside
    %p.com Photo
    %hr
    - if @user.id == current_user.id
      = form_with model: @image, url: user_images_path(current_user.id,@image), method: :post, id: 'image-create' do |image|
        .form-group.image-form
          .image-box
            %ul#image-list
              = image.label :user_image, id: 'image-list-before' do
                = image.file_field :user_image, multiple: true, style: 'display: none;'
                #image-drop-box
                  %pre
                    ドラッグ & ドロップ
                    またはクリックしてアップロード

          = image.text_area :comment, rows: 5, class: 'form_control w-100'
          = image.submit '写真を投稿する', class: 'btn btn-primary w-30 fontsize_13', id: 'image-submit'
      %hr

    -# 一単位の投稿
    #user_images_box.padding_bothside
      = render partial: "shared/user_images"
  
