= render partial: "shared/user_body_edit"

-# 本文
.row
  .col-2.sidebar.my-0.ml-3.justify-content-center.w-15
    = render partial: "shared/user_info", locals: { userbody: @userbody, user: @user }

  -# ここから自由に描いてください
  .col-9
    .com Photo
    %hr
    .photo_date 2019/6/12
    .photo_box 写真
    %hr
    - @images.each do |image|
      - image.user_image.each_with_index do |ele,index|
        = image_tag("#{ele}")
        = link_to "Delete", user_image_path(image, index), method: :delete, data: { confirm: "Are you sure you want to delete this image?" }
    = form_with model: @image, url: user_images_path, method: :post do |image|
      = image.file_field :user_image, multiple: true
      = image.submit
    <hr>
  .col-2
