!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rep
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .app-title.navbar.navbar-expend-md.navbar-light.bg-light.fixed-top
      .navbar-brand Rep
      .row.justify-content-end
        %li.nav-item.btn.btn-outline-primary
          = link_to '#' do
            新規登録
        %li.nav-item.btn.btn-outline-primary
          = link_to '#' do
            ログイン
    .container

      = yield

    .app-title.navbar.navbar-expend-md.navbar-light.bg-light
      .navbar-brand Rep
