!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rep
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{style: 'padding-top: 3.5rem'}
    .navbar.navbar-expand.navbar-light.bg-light.fixed-top.navbar-dark
      .navbar-brand
        = link_to root_path, class: 'text-dark' do
          Rep
      %ul.navbar-nav
        %li.nav-item.nav-link
          = link_to new_user_registration_path, class: 'text-dark' do
            新規登録
        %li.nav-item.nav-link
          = link_to new_user_session_path, class: 'text-dark' do
            ログイン
    .clearfix
    .container-fluid

      = yield

    .app-title.navbar.navbar-expend-md.navbar-light.bg-light
      .navbar-brand Rep
