!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rep
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = include_gon
  %body{style: 'min-height: 100vh', class: 'h-100 d-flex flex-column'}

    .head_blank
    = render 'layouts/notifications'

    = render partial: "shared/modal"


    .navbar.navbar-dark.bg-secondary.fixed-top
      .navbar-brand_top
        = link_to root_path do
          = image_tag asset_path("Rep_logo"), size:"80x40"
      - if user_signed_in?
        %ul.navbar.navbar-nav.navbar-expand

          -# コラム
          %li.nav-item.nav-link
            = link_to toppage_column_path, class: 'text-white mr-4' do
              %i.fas.fa-lg.fas.fa-book-open

          -# 検索
          %li.nav-item.nav-link
            = link_to users_path, class: 'text-white mr-4' do
              %i.fas.fa-lg.fa-search
          -# 写真
          %li.nav-item.nav-link
            = link_to user_images_path(current_user.id), class: 'text-white mr-4' do
              %i.fas.fa-lg.fas.fa-camera
          -# カレンダー
          %li.nav-item.nav-link
            = link_to user_path(current_user.id), class: 'text-white mr-4' do
              %i.far.fa-lg.fa-calendar-alt
          -# 分析
          %li.nav-item.nav-link.chart_link_nav
            = link_to user_training_records_path(current_user.id), class: 'text-white mr-4' do
              %i.fas.fa-lg.fa-chart-line
          -# ログアウト
          %li.nav-item.nav-link
            = link_to destroy_user_session_path, method: :delete, class: 'text-white mr-1 10px btn btn-danger' do
              Log Out
      - else
        %ul.navbar.navbar-nav.navbar-expand
          %li.nav-item.nav-link
            = form_with model: User.new, scope: :user, url: session_path(:user), local: true do |f|
              = f.hidden_field :email, value: 'arnold@com'
              = f.hidden_field :password, value: '123456'
              = f.submit 'Test Log In', class: 'btn btn-info mr-3'
          -# コラム
          %li.nav-item.nav-link
            = link_to toppage_column_path, class: 'text-white mr-4' do
              %i.fas.fa-2x.fas.fa-book-open
          %li.nav-item.nav-link
            = link_to new_user_registration_path, class: 'text-white mr-4' do
              Sign Up
          %li.nav-item.nav-link
            = link_to new_user_session_path, class: 'text-white mr-1' do
              Log In

    = yield
    .nav-box.bg-secondary.width-100
      .navbar.navbar-dark.bg-secondary.mt-auto.py-2
        .navbar-brand.below_tab
          = link_to root_path do
            = image_tag asset_path("Rep_logo"), size:"80x40"
        %ul.row.policy
          %li.nav-item.nav-link.inline-block
            = link_to root_path, class: 'text-white mr-5 18px' do
              トップページ
          %li.nav-item.nav-link.inline-block
            = link_to toppage_regulation_path, class: 'text-white mr-5 18px' do
              利用規約
          %li.nav-item.nav-link.inline-block
            = link_to toppage_privacy_policy_path , class: 'text-white mr-3 18px' do
              プライバシーポリシー
      .text-white.text-center.mb-3.mt-2
        %p © 2019 Rep