!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Rep
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{style: 'padding-top: 3rem; min-height: 100vh', class: 'h-100 d-flex flex-column'}
    .navbar.navbar-light.bg-light.fixed-top.bg-dark
      .navbar-brand
        = link_to root_path, class: 'text-white h6' do
          Rep
      - if user_signed_in?
        %ul.navbar.navbar-nav.navbar-expand
          %li.nav-item.nav-link
            = link_to destroy_user_session_path, method: :delete, class: 'text-white mr-3 h6 ' do
              ログアウト
          %li.nav-item.nav-link
            = link_to user_show_path, class: 'text-white mr-4 h6' do
              マイページ
      - else
        %ul.navbar-nav.navbar-expand.float-right
          %li.nav-item.nav-link
            = link_to new_user_registration_path, class: 'text-white mr-3 h6' do
              新規登録
          %li.nav-item.nav-link
            = link_to new_user_session_path, class: 'text-white mr-3 h6 ' do
              ログイン



    = yield

    .navbar.navbar-dark.bg-dark.mt-auto.py-3
      .navbar-brand.text-white Rep
