.registration_top
  - if @user.errors.any?
    .user_registrations_form__errors
      %h2= "#{@user.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .container.h-100
    .row.justify-content-center
      .col-4.card.justify-content-center.mt-5
        = form_with model: @user, scope: resource_name, url: registration_path(resource_name), id: 'new_user', class: 'new_user', local: true do |f|
          .form_group.my-4
            = f.label :nickname, 'ニックネーム'
            = f.text_field :nickname, class: 'form-control'
          .form_group.mb-4
            = f.label :email, 'メールアドレス'
            = f.text_field :email, class: 'form-control'
          .form_group.mb-4
            = f.label :password, 'パスワード'
            = f.password_field :password, autocomplete: "new-password", class: 'form-control'
          .form_group.mb-4
            = f.label :password_confirmation, 'パスワード(確認)'
            = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
          .action.my-5.justify-content-center
            = f.submit '登録する', class: 'col btn btn-primary'